<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10%">
	<main fxLayout="column" fxLayoutAlign="center center">
		<h1>Roee Shapira</h1>
		<h2>Fullstack Developer</h2>
		<nav class="sm-links" fxLayout="row" fxLayoutGap="10px">
			<a href="https://www.linkedin.com/in/roee-shapira" target="_blank"
				matTooltip="LinkedIn Profile">
				<mat-icon class="material-icons md-24" svgIcon="linkedIn"></mat-icon>
			</a>
			<a href="mailto:roee.shap1@gmail.com?subject=Roee's CV site"
				target="_blank" matTooltip="E-mail">
				<mat-icon class="material-icons md-24" svgIcon="email"></mat-icon>
			</a>
			<a href="https://bitbucket.org/5c077m4n/" target="_blank"
				matTooltip="Bitbucket Account">
				<mat-icon class="material-icons md-24" svgIcon="bitbucket"></mat-icon>
			</a>
			<a href="https://github.com/5c077m4n" target="_blank"
				matTooltip="GitHub Account">
				<mat-icon class="material-icons md-24" svgIcon="github"></mat-icon>
			</a>
			<a href="https://www.npmjs.com/~5c077m4n" target="_blank"
				matTooltip="NPM Account">
				<mat-icon class="material-icons md-24" svgIcon="npm"></mat-icon>
			</a>
			<a href="http://www.npm-stats.com/5c077m4n" target="_blank"
				matTooltip="NPM module's download status">
				<mat-icon class="material-icons md-24" svgIcon="stats"></mat-icon>
			</a>
		</nav>
	</main>
	<nav fxLayout="column" fxLayoutAlign="center center">
		<p>View my</p>
		<button mat-button routerLink="projects" class="router-link">Projects</button>
		<p>Or my</p>
		<button mat-button routerLink="npm" class="router-link">NPM modules</button>
	</nav>
	<mat-icon class="arrow-icon bounce material-icons md-24"
		svgIcon="arrow-up">
	</mat-icon>
</div>
