<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px" fxLayoutAlign="center stretch">
	<mat-card *ngIf="showSidePanel;" class="info-card" fxFill
		[@sidePanelAnimation]="showSidePanel" fxHide.lt-md="true">
		<mat-card-header>
			<mat-card-title>
				<h3>Clone</h3>
			</mat-card-title>
		</mat-card-header>
		<mat-card-content class="clone-methods">
			<div *ngFor="let method of project.links.clone;">
				<p><strong>{{method.name}}:</strong></p>
				<mat-form-field>
					<input matInput value="{{method.href}}" disabled />
				</mat-form-field>
			</div>
		</mat-card-content>
	</mat-card>

	<mat-card fxFill [ngClass]="showSidePanel? 'info-card' : ''">
		<mat-card-header (click)="showSidePanel = !showSidePanel;">
			<mat-card-title class="proj-name">
				<h3>{{project.name | uppercase}}</h3>
			</mat-card-title>
			<mat-card-subtitle>
				<p>Last modified on: {{project.updated_on | date: 'dd/MM/yyyy'}}</p>
			</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image src="{{project.links.avatar.href}}"
			(click)="showSidePanel = !showSidePanel;" />
		<mat-card-actions>
			<a mat-button href="{{project.links.html.href}}" target="_blank" fxFill>
				View Source <mat-icon svgIcon="code"></mat-icon>
			</a>
		</mat-card-actions>
	</mat-card>

	<mat-card *ngIf="showSidePanel;" class="info-card" fxFill
		[@sidePanelAnimation]="showSidePanel">
		<mat-card-header>
			<mat-card-title>
				<h3>Details</h3>
			</mat-card-title>
			<mat-card-subtitle>
				<p>Created on: {{project.created_on | date: 'dd/MM/yyyy'}}</p>
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p *ngIf="project.description"><strong>About:</strong> {{project.description}}</p>
			<p><strong>Does it have issues?</strong> {{project.has_issues? 'Yes' : 'No'}}.</p>
			<p><strong>Size:</strong> {{project.size}} bytes.</p>
			<p><strong>Main language:</strong> {{project.language}}.</p>
		</mat-card-content>
	</mat-card>
</div>
