.module-name-container { height: 30px; }
.module-name { font-size: 16px; }

.info-card { background: transparent; }
.module-desc-title {
	display: inline;
}
.module-desc-title + span {
	display: inline;
	padding-left: 5px;
}
