/* You can add global styles to this file, and also import other style files */

html {
	background-image: url('assets/images/main-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}
body { margin: 5px; }
a, a:visited { color: #8e8989; }
a:hover { color: #565656; }
